body {
    margin: 0;
    background-color: #211798;
    font-family: "Lilita One", sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 1px 4px black;
}
header {
    height: 120px;
    background-color: #E81D26;
    margin-bottom: 16px;
    border-bottom: 10px outset rgba(0, 0, 0, 0.2);  
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2); 
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width:1920px;
    margin-left:auto;
    margin-right:auto;
}
h1 img{ 
    width: 240px;
}
.header-content input {
  padding-left: 25px;
  background: url("./img/search.png") no-repeat left;
  background-position: 8px;
  background-size: 12px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);  
  padding-top: 4px;
  padding-bottom: 4px;
  border: 10px inset; 
  border-radius: 40px 40px;
  border-color: #E81D26;
}
.header-content input:focus {
    outline-style: none;
}
.content-margin {
    margin-left: 40px;
    margin-right: 40px;
}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.load-button {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 40px;
}
.load-button button {
    font-family: "Lilita One", sans-serif;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px 8px;
    background-color: white;
    border: 4px solid black;
    transition: all 200ms ease-in-out;
}
.load-button button:hover {
    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0px 0px 5px 1px black;
}
.poke-card {
    width: 200px;
    height: 160px;
    
    margin: 8px;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 8px;
    transition: all 400ms ease-in-out;
    display: flex;
    flex-direction: column;    
    color: rgba(255, 255, 255, 0.792);
}
.poke-card:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px 2px black;
    cursor: pointer;
}
.poke-id {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 16px;
}
.lower-section {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.type {
    padding: 4px 8px 4px 8px;
    border-radius: 16px 16px;
    box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.8);
}
.poke-img {
    height: 100px;    
}
.name-span {
    margin-left: 16px;
    font-weight: bold;
}
.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    letter-spacing: 0;
}
.large-background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poke-card-open {
    z-index: 2;
    width: 400px;
    height: 560px;
    background-color: white;
    border: 5px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    letter-spacing: 0px;
}
.card-1st-half {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.close-card-button {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    font-size: 20px;
    height: 24px;
    width: 24px;
    border: none;
    background-color: lightgray;
    border-radius: 8px;
    transition: all;
    display: none;
}
.close-card-button:hover {
    cursor: pointer;
    border: 2px solid black;
    background-color: rgb(223, 223, 223);
}
.card-1st-half img {
    height: 240px;
    padding-top: 40px;
}
.card-2nd-half {
    height: 50%;
    position: relative;
}
.card-buttons {
    display: flex;
    text-shadow: none;
    font-size: 18px;
}
.button-left {
    height: 40px;
    width: 50%;
    border: solid; 
    border-width: 3px 2px 3px 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-right {
    height: 40px;
    width: 50%;
    border: solid; 
    border-width: 3px 2px 3px 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-left:hover {
    cursor:pointer;
    background-color: lightgray;
}
.button-right:hover {
    background-color: lightgray;
    cursor: pointer;
}
.button-clicked {
    background-color: lightgray;
}
.info {
    display: flex;
    width: 100%;
}
.info-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-shadow: none;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
    width: 50%;
}
.info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-shadow: none;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: -24px;
    width: 50%;
}
.separator {
    height: 200px;
    width: 4px;
    background-color: black;
    position: absolute;
    left: 198px;
    top: 0;
    
}
.separator2 {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0; 
    bottom: 80px;
}
.single-info {
    display: flex;
}
.single-info-right {
    display: flex;
    width: 120px;
    justify-content: center;
}
.single-info span {
    width: 84px;
    gap: 8p;
}
.info-width {
    width: 80px;
    text-align: right;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.sound-button {
    padding: 4px 8px 4px 8px;
    border-radius: 16px 16px;
    transition: all;
    background-color: lightgray;
    display: flex;
    gap: 8px;
    font-family: "Lilita One", sans-serif;
    border: none;
    font-size: 16px;
}
.sound-button img {
    padding-top: 2px;
    padding-right: 2px;
    height: 16px;
}
.sound-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(223, 223, 223);
}
.types-flex {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}
.type-open {
    padding: 4px 8px 4px 8px;
    border-radius: 16px 16px;
}
.stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-shadow: none;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
}
.stats-container {
    display: flex; 
}
.stats-next-to-bar {
    display: flex;
    gap: 16px;
    align-items: center;
}
.stat-span {
    width: 40px;
    text-align: right;
}
.stats-width {
    width: 136px;
} 
.stat-bar {
    width: 160px;
    height: 14px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}
.full-bar {
    width: 50%;
    height: 14px;
}
.bar-percentage {
    background-color: #BBDEFB;
    height: 14px;
}
.arrow-container {
    position: absolute;
    width: 100%;
    bottom: 16px;
}
.arrows {
    display: flex;
    justify-content: space-around;
}
.arrow-left {
    height: 30px;
    width: 30px;
    padding: 8px;
    background-color: lightgray;
    border-radius: 50%;
    transition: all;
    
}   
.arrow-right {
    height: 30px;
    width: 30px;
    padding: 8px;
    background-color: lightgray;
    border-radius: 50%;
    transition: all;
    
}
.arrow-left:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    transform: scale(1.05); 
}
.arrow-right:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    transform: scale(1.05); 
}
.Normal {
    background-color: #A8A77A;
} 
.Normal2 {
    background-color: #B2B08A;
} 
.Fire {
    background-color: #EE8130;
} 
.Fire2 {
    background-color: #F28D48;
} 
.Water {
    background-color: #6390F0;
} 
.Water2 {
    background-color: #739BF3;
} 
.Electric {
    background-color: #F7D02C;
} 
.Electric2 {
    background-color: #F9DC46;
} 
.Grass {
    background-color: #7AC74C;
} 
.Grass2 {
    background-color: #86D35E;
} 
.Ice {
    background-color: #96D9D6;
} 
.Ice2 {
    background-color: #A3E3E0;
} 
.Fighting {
    background-color: #C22E28;
} 
.Fighting2 {
    background-color: #CB463E;
} 
.Poison {
    background-color: #A33EA1;
} 
.Poison2 {
    background-color: #AF56AD;
} 
.Ground {
    background-color: #E2BF65;
} 
.Ground2 {
    background-color: #E8CC7E;
} 
.Flying {
    background-color: #A98FF3;
} 
.Flying2 {
    background-color: #B29BF5;
} 
.Psychic {
    background-color: #F95587;
} 
.Psychic2 {
    background-color: #FB6C97;
} 
.Bug {
    background-color: #A6B91A;
} 
.Bug2 {
    background-color: #B0C433;
} 
.Rock {
    background-color: #B6A136;
} 
.Rock2 {
    background-color: #C1AD50;
} 
.Ghost {
    background-color: #735797;
} 
.Ghost2 {
    background-color: #8265A8;
} 
.Dragon {
    background-color: #6F35FC;
} 
.Dragon2 {
    background-color: #8148FF;
} 
.Dark {
    background-color: #705746;
} 
.Dark2 {
    background-color: #7E6353;
} 
.Steel {
    background-color: #B7B7CE;
} 
.Steel2 {
    background-color: #C4C4DB;
} 
.Fairy {
    background-color: #D685AD;
} 
.Fairy2 {
    background-color: #E198B9;
} 

#loadingSpinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#loadingSpinner div {
    color: white;
    margin-right: -12px;
}

.pokeball {
    width: 80px;
    height: 80px;
    position: relative;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 730px) {
    .content-margin {
        margin-left: 8px;
        margin-right: 8px;
    }
    .poke-card {
        width: 160px;
        height: 224px;
    }
    .lower-section {
        flex-direction: column-reverse;
        gap: 8px;
        margin-top: 8px;
    }
    .types {
        flex-direction: row;
    }
    .name-span {
        margin-top: 8px; 
    }
    header {
        height: 96px;
    }
    .header-content {
        justify-content: space-between;
        align-items: center;
        margin-left: 56px;
        margin-right: 56px;
    }
    .pokedex-writing {
        width: 160px;
    }
    .header-content input {
        width: 120px;
    }
    .close-card-button {
        display:block;
    }
}
@media(max-width: 560px) {
    .header-content {
        margin-left: 16px;
        margin-right: 16px;
    }
    .pokedex-writing {
        width: 144px;
    } 
    .header-content input {
        width: 96px;
        border: 8px inset #E81D26;
        width: 80px;
        height: 14px;
    }
    .poke-img {
        height: 64px;
    }
    .poke-card {
        font-size: 14px;
        width: 120px;
        height: 156px;
    }
    .types {
        font-size: 12px;
    }
    .type {
        padding: 2px 4px 2px 4px;
    }
    .poke-id {
        justify-content: center;
        margin-right: 0;
        margin-top: 8px;
    }
    .name-span {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .lower-section {
        margin-left: 0;
        margin-right: 0;
    }
    .poke-card-open {
        width: 304px;
    }
    .info-left {
        
        margin-left: 14px;
        font-size: 14px;
        gap: 12px;
    }
    .info-right {
        gap: 10px;
        align-items: center;
        margin-left: -16px;
        font-size: 14px;
    }
    .type-open {
        padding: 2px 4px 2px 4px;
    }
    .sound-button {
        font-size: 14px;
        padding: 2px 4px 2px 4px;
    }
    .sound-button img {
        height: 14px;
    }
    .single-info span {
        width: 56px;
    }
    .stats {
        font-size: 14px;
        margin-left: 16px;
    }
    .stats-width {
        width: 112px;
    }
    .stat-span {
        width: 24px;
    }
    .stat-bar {
        width: 120px;
    }

    .separator {
        left: 150px;
    }
    .arrows {
        left: -7%;
    }

}
@media(max-width: 439px) {
    .header-content input {
        border: 5px inset #E81D26;
    }
    .poke-card {
        margin: 24px;
    }
}
@media(max-width: 370px) {
    .poke-card {
        margin: 8px;
    }
}